{% extends "base.html.twig" %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <div data-controller="event-highlight">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Calendrier</h2>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_admin_events_create') }}" class="btn btn-primary btn-create-event">
                <i class="fa-solid fa-plus me-2"></i>
                Nouvel événement
            </a>
        {% endif %}
    </div>

    {% set start_of_month = date(year ~ '-' ~ month ~ '-01') %}
    {% set previous_month = start_of_month|date_modify('previous month') %}
    {% set next_month = start_of_month|date_modify('next month') %}
    <div class="d-flex justify-content-between align-items-center mb-4 calendar-controls">
        <div class="btn-group" role="group">
            <a href="{{ path('app_event_index', {'m': previous_month|date('n'), 'y': previous_month|date('Y')}) }}"
               class="btn btn-outline-secondary">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <a href="{{ path('app_event_index') }}" class="btn btn-outline-secondary">Aujourd'hui</a>
            <a href="{{ path('app_event_index', {'m': next_month|date('n'), 'y': next_month|date('Y')}) }}"
               class="btn btn-outline-secondary">
                <i class="fa-solid fa-chevron-right"></i>
            </a>
        </div>
        <h3 class="mb-0">
            {{ start_of_month|format_date(pattern='MMMM', locale='fr') }}
            <span class="fw-normal text-primary">{{ start_of_month|format_date(pattern='yyyy', locale='fr') }}</span>
        </h3>
        <div style="width: 140px;"></div> <!-- Spacer pour centrer le titre -->
    </div>

    <div class="row">
        <div class="col-xl-9 d-xl-block d-none">
            <div class="calendar-header">
                {% for day in ["LUN.", "MAR.", "MER.", "JEU.", "VEN.", "SAM.", "DIM."] %}
                    <div class="text-end p-1">{{ day }}</div>
                {% endfor %}
            </div>
            {% set rows_count = calendar|length/7 %}
            <div class="calendar calendar-row-{{ rows_count }}">
                {% for date_key, events in calendar %}
                    {% set case_css = [] %}
                    {% set row = (loop.index / 7)|round(0, 'ceil') %}
                    {% set date_elements = date_key|split('-') %}
                    {% if date_elements[1] < month %}
                        {% set case_css = case_css|merge(['previous-month']) %}
                    {% endif %}
                    {% if date_elements[1] > month %}
                        {% set case_css = case_css|merge(['next-month']) %}
                    {% endif %}
                    {% if date_key == start_of_month|date_modify('last day of previous month')|date('Y-m-j') %}
                        {% set case_css = case_css|merge(['last-day']) %}
                    {% endif %}
                    {% if date_key == start_of_month|date_modify('first day of next month')|date('Y-m-j') %}
                        {% set case_css = case_css|merge(['first-day']) %}
                    {% endif %}
                    {% if row == rows_count %}
                        {% set case_css = case_css|merge(['row-last']) %}
                    {% endif %}
                    <div class="p-2 calendar-case row-{{ row }} {{ case_css|join(' ') }}">
                        <div class="text-end mb-1 px-2">
                            {% if ("now"|date('Y-m-j') == date_key) %}
                                <div class="badge rounded-pill bg-dark">
                                    {{ date_elements[2] }} {{ "now"|format_date(pattern="MMM") }}.
                                </div>
                            {% else %}
                                {{ date_elements[2] }}
                            {% endif %}
                        </div>
                        {% for event in events %}
                            {% set event_name = event.name %}
                            {% set link_style = "" %}
                            {% if event.allDay %}
                                {% set link_class = "badge text-bg-primary all-day-event" %}
                                {% set link_style = "background-color: " ~ event|eventColor ~ " !important;" %}
                            {% else %}
                                {% set link_class = "event-link" %}
                            {% endif %}
                            {% if event.spanMultipleDays %}
                                {% set link_class = "#{link_class} multi-day-event" %}
                                {% if event.startsAt|date('Y-m-j') == date_key %}
                                    {% set link_class = "#{link_class} multi-day-event-start" %}
                                {% elseif event.endsAt|date('Y-m-j') == date_key %}
                                    {% set link_class = "#{link_class} multi-day-event-end" %}
                                    {% set event_name = "" %}
                                {% endif %}
                            {% endif %}
                            <a href="{{ path('app_event_show', {slug: event.slug}) }}"
                               class="d-flex justify-content-between link-unstyled {{ link_class }}"
                               style="{{ link_style }}"
                               data-bs-toggle="tooltip" title="{{ event.name }}"
                               data-event-id="{{ event.id }}"
                               data-event-highlight-target="calendarEvent"
                            >
                                <div class="event-name">
                                    {% if not event.allDay %}
                                    <div class="event-pill" style="background-color: {{ event|eventColor }}"></div>
                                    {% endif %}
                                    {{ event_name }}
                                </div>
                                {% if not event.allDay %}
                                <div class="text-black-50 d-none d-xxl-block event-time">{{ event.startsAt|date('H:i') }}</div>
                                {% endif %}
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <!-- Bouton nouvel événement pour mobile -->
            {% if is_granted('ROLE_ADMIN') %}
                <div class="d-xl-none mb-4">
                    <a href="{{ path('app_admin_events_create') }}" class="btn btn-primary w-100 btn-create-event">
                        <i class="fa-solid fa-plus me-2"></i>
                        Nouvel événement
                    </a>
                </div>
            {% endif %}
            
            <!-- Container avec scroll pour desktop, normal pour mobile -->
            <div class="events-list-container">
                <ul class="ps-0">
                    {% for date_key, events in calendar|filter((e) => e|length > 0) %}
                        {% set day = date(date_key) %}
                        {% set date_elements = date_key|split('-') %}
                        <li class="list-unstyled{% if day|date('Y-n') != (year ~ "-" ~ month) %} d-none d-xl-block{% endif %}">
                            <h4>
                                <strong>{{ day|format_date(pattern='eeee', locale='fr') }}</strong>
                                <span class="text-black-50 fs-5">{{ day|date('d/m/Y') }}</span>
                            </h4>
                            <ul class="list-unstyled">
                                {% for event in events %}
                                    <li class="event-list-event">
                                        <a href="{{ path('app_event_show', {slug: event.slug}) }}"
                                           class="d-flex flex-row link-unstyled p-2 event-list-item"
                                           data-event-id="{{ event.id }}"
                                           data-event-highlight-target="listItem"
                                        >
                                            <div class="event-pill me-1"
                                                 style="background-color: {{ event|eventColor }}">
                                            </div>
                                            <div class="d-flex flex-column">
                                                <div class="time">
                                                    {% if event.allDay %}
                                                    Toute la journée
                                                    {% else %}
                                                    {{ event.startsAt|date('H:i') }}
                                                    — {{ event.endsAt|date('H:i') }}
                                                    {% endif %}
                                                </div>
                                                <div class="name">
                                                    {{ event|get_class|readable_enum }} - {{ event.name }}
                                                    {% if event.attachments|length > 0 %}
                                                        <em class="fa-solid fa-paperclip"></em>
                                                    {% endif %}
                                                </div>
                                                <div class="address">{{ event.address }}</div>
                                            </div>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    </div>
{% endblock %}