{% extends "base.html.twig" %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <h2>Calendrier</h2>

    {% set start_of_month = date(year ~ '-' ~ month ~ '-01') %}
    {% set previous_month = start_of_month|date_modify('previous month') %}
    {% set next_month = start_of_month|date_modify('next month') %}
    <h3>
        <a href="{{ path('app_events_index', {'m': previous_month|date('n'), 'y': previous_month|date('Y')}) }}"
           class="btn btn-sm btn-secondary">
            <em class="fa-solid fa-angle-left"></em>
        </a>
        <a href="{{ path('app_events_index') }}" class="btn btn-sm btn-secondary">Aujourd'hui</a>
        <a href="{{ path('app_events_index', {'m': next_month|date('n'), 'y': next_month|date('Y')}) }}"
           class="btn btn-sm btn-secondary">
            <em class="fa-solid fa-angle-right"></em>
        </a>
        {{ start_of_month|format_date(pattern='MMMM', locale='fr') }}
        <span class="fw-normal text-primary">{{ start_of_month|format_date(pattern='yyyy', locale='fr') }}</span>
    </h3>

    <div class="row" data-controller="modal">
        {{ include('_modal.html.twig') }}
        <div class="col-xl-9 d-xl-block d-none">
            <div class="calendar-header">
                {% for day in ["LUN.", "MAR.", "MER.", "JEU.", "VEN.", "SAM.", "DIM."] %}
                    <div class="text-end p-1">{{ day }}</div>
                {% endfor %}
            </div>
            {% set rows_count = calendar|length/7 %}
            <div class="calendar calendar-row-{{ rows_count }}">
                {% for date_key, events in calendar %}
                    {% set case_css = [] %}
                    {% set row = (loop.index / 7)|round(0, 'ceil') %}
                    {% set date_elements = date_key|split('-') %}
                    {% if date_elements[1] < month %}
                        {% set case_css = case_css|merge(['previous-month']) %}
                    {% endif %}
                    {% if date_elements[1] > month %}
                        {% set case_css = case_css|merge(['next-month']) %}
                    {% endif %}
                    {% if date_key == start_of_month|date_modify('last day of previous month')|date('Y-m-j') %}
                        {% set case_css = case_css|merge(['last-day']) %}
                    {% endif %}
                    {% if date_key == start_of_month|date_modify('first day of next month')|date('Y-m-j') %}
                        {% set case_css = case_css|merge(['first-day']) %}
                    {% endif %}
                    {% if row == rows_count %}
                        {% set case_css = case_css|merge(['row-last']) %}
                    {% endif %}
                    <div class="p-2 calendar-case row-{{ row }} {{ case_css|join(' ') }}">
                        <div class="text-end">
                            {% if ("now"|date('Y-m-j') == date_key) %}
                                <div class="badge rounded-pill bg-primary">
                                    {{ date_elements[2] }} {{ "now"|format_date(pattern="MMM") }}.
                                </div>
                            {% else %}
                                {{ date_elements[2] }}
                            {% endif %}
                        </div>
                        {% for event in events %}
                            <a href="{{ path('app_event_show', {'event': event.id}) }}"
                               class="event-link d-flex d-inline-block justify-content-between link-unstyled">
                                <div class="event-name">
                                    <div class="event-pill" style="background-color: {{ event.type|eventColor }}"></div>
                                    {{ event.name }}
                                </div>
                                <div class="text-black-50 d-none d-xxl-block event-time">{{ event.startsAt|date('H:i') }}</div>
                            </a>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-xl-3 col-12">
            <ul class="ps-0">
                {% for date_key, events in calendar|filter((e) => e|length > 0) %}
                    {% set day = date(date_key) %}
                    {% set date_elements = date_key|split('-') %}
                    <li class="list-unstyled{% if day|date('Y-m') != (year ~ "-" ~ month) %} d-none d-xl-block{% endif %}">
                        <h4>
                            <strong>{{ day|format_date(pattern='eeee', locale='fr') }}</strong>
                            <span class="text-black-50 fs-5">{{ day|date('d/m/Y') }}</span>
                        </h4>
                        <ul class="list-unstyled">
                            {% for event in events %}
                                <li class="event-list-event">
                                    <a href="{{ path('app_event_show', {'event': event.id}) }}"
                                       class="d-flex flex-row link-unstyled p-2"
                                    >
                                        <div class="event-pill me-1"
                                             style="background-color: {{ event.type|eventColor }}">
                                        </div>
                                        <div class="d-flex flex-column">
                                            <div class="time">
                                                {{ event.startsAt|date('H:i') }}
                                                — {{ event.endsAt|date('H:i') }}
                                            </div>
                                            <div class="name">
                                                {{ event.type|readable_enum }} - {{ event.name }}
                                                {% if event.attachments|length > 0 %}
                                                    <em class="fa-solid fa-paperclip"></em>
                                                {% endif %}
                                            </div>
                                            <div class="address">{{ event.address }}</div>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}