{{ form_start(results_form) }}
{{ form_errors(results_form) }}
<div class="table-responsive">
    <table class="table table-striped mb-0">
        {% set age_category = null %}
        {% set season = licenseHelper.seasonForDate(event.startsAt) %}
        {% for result_form in results_form.licensees_results %}
            {% set license = result_form.vars.value.licensee.licenseForSeason(season) %}
            {% if age_category != license.ageCategory %}
                {% set age_category = license.ageCategory %}
                <thead>
                <tr class="d-sm-none text-center">
                    <th colspan="3">{{ age_category|readable_enum }}</th>
                </tr>
                <tr class="text-center">
                    <th class="text-start d-none d-sm-table-cell">{{ age_category|readable_enum }}</th>
                    <th>Série 1</th>
                    <th>Série 2</th>
                    <th>Total*</th>
                </tr>
                </thead>
            {% endif %}
            {% set licensee_row = _self.licensee_row(result_form) %}
            <tr class="d-sm-none">
                <td colspan="3">
                    {{ licensee_row }}
                </td>
            </tr>
            <tr>
                <td class="d-none d-sm-table-cell">
                    {{ licensee_row }}
                </td>
                <td style="width: 90px">
                    {{ form_errors(result_form.score1) }}
                    {{ form_widget(result_form.score1) }}
                </td>
                <td style="width: 90px">
                    {{ form_errors(result_form.score2) }}
                    {{ form_widget(result_form.score2) }}
                </td>
                <td style="width: 90px">
                    {{ form_errors(result_form.total) }}
                    {{ form_widget(result_form.total) }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
{{ form_end(results_form) }}

{% macro licensee_row(result_form) %}
    {{ form_errors(result_form.licensee) }}
    {{ form_widget(result_form.licensee) }}
{% endmacro %}