<dl class="row">
    <dt class="col-3 text-end">adresse</dt>
    <dd class="col-9">
        {{ event.address }}<br>
        <a href="https://www.google.com/maps/search/?api=1&query={{ event.address|url_encode }}"
           target="_blank">Afficher sur Google Maps <em class="fas fa-arrow-up-right-from-square"></em></a>
    </dd>
    <dt class="col-3 text-end">début</dt>
    <dd class="col-9">{{ event.startsAt|date('H:i') }}</dd>
    <dt class="col-3 text-end">fin</dt>
    <dd class="col-9">{{ event.endsAt|date('H:i') }}</dd>
    <dt class="col-3 text-end">participants</dt>
    <dd class="col-9">{{ event.participations|length }}</dd>
    {% if event.type in ['contest_official', 'contest_hobby'] %}
        {{ _self.attachment(event, 'mandate') }}
        {{ _self.attachment(event, 'results', true) }}
    {% endif %}
</dl>

{% macro attachment(event, type, plural = false) %}
    <dt class="col-3 text-end">{{ type|readable_enum('EventAttachmentType')|lower }}</dt>
    <dd class="col-9">
        {% if not event.attachments(type).empty %}
            {% for attachment in event.attachments(type) %}
                <a href="{{ path('events_attachements_download', {'attachment': attachment.id}) }}"
                   class="btn btn-sm btn-primary"
                   target="_blank">
                    <em class="fa-solid fa-download"></em> Télécharger
                </a>
            {% endfor %}
        {% else %}
            <em>Pas encore disponible{{ plural ? 's' }}</em>
        {% endif %}
    </dd>
{% endmacro %}
