{% extends 'base.html.twig' %}

{% set licensee = licenseeHelper.licenseeFromSession %}
{% set license = licenseHelper.currentLicenseeCurrentLicense %}
{% set canAttend = licenseHelper.licenseIsValidForEventType(license, event.type) and date() < event.endsAt %}
{% set licenseeParticipation = eventHelper.licenseeParticipationToEvent(licensee, event) %}

{% block return_link %}
    {{ path('app_event_index') }}
{% endblock %}

{% block return_text %}
    Calendrier
{% endblock %}

{% block title %}
    {{ event.title }}
{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <h1>{{ event.title }}</h1>
        </div>
    </div>
    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning">
                    <h4 class="alert-heading"><em class="fa-solid fa-screwdriver-wrench"></em> Administration</h4>
                    <a href="{{
                    adminUrlGenerator
                        .setController('App\\Controller\\Admin\\EventCrudController')
                        .setAction('edit')
                        .setEntityId(event.id)
                    .generateUrl
                    }}" class="btn btn-secondary">
                        <em class="fa-solid fa-pencil"></em>
                        Modifier
                    </a>
                    <a href="{{
                    adminUrlGenerator
                        .setController('App\\Controller\\Admin\\EventAttachmentCrudController')
                        .setAction('index')
                        .set('filters[event][comparison]', '=')
                        .set('filters[event][value]', event.id)
                    .generateUrl
                    }}" class="btn btn-secondary">
                        <em class="fa-regular fa-file"></em>
                        Pièces jointes
                    </a>
                    <a href="{{
                    adminUrlGenerator
                        .setController('App\\Controller\\Admin\\EventParticipationCrudController')
                        .setAction('index')
                        .set('filters[event][comparison]', '=')
                        .set('filters[event][value]', event.id)
                    .generateUrl
                    }}" class="btn btn-secondary">
                        <em class="fa-solid fa-people-group"></em>
                        Participations
                    </a>
                    <a href="{{
                    adminUrlGenerator
                        .setController('App\\Controller\\Admin\\ResultCrudController')
                        .setAction('index')
                        .set('filters[event][comparison]', '=')
                        .set('filters[event][value]', event.id)
                    .generateUrl
                    }}" class="btn btn-secondary">
                        <em class="fa-solid fa-square-poll-vertical"></em>
                        Résultats
                    </a>
                </div>
            </div>
        </div>
    {% endif %}
    {% if licenseeParticipation %}
        <div class="row">
            <div class="col-12">
                {% if licenseeParticipation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::INTERESTED') %}
                    <div class="alert alert-warning">
                        Tu as indiqué être intéressé•e
                        {% if licenseeParticipation and licenseeParticipation.departure %}
                        pour le départ n°{{ licenseeParticipation.departure }}
                        {% endif %}.
                        Pense à faire ta demande d'inscription comme indiqué dans le mandat !
                    </div>
                {% endif %}
                {% if licenseeParticipation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::REGISTERED') %}
                    <div class="alert alert-success">
                        Tu as indiqué t'être inscrit•e
                        {% if licenseeParticipation and licenseeParticipation.departure %}
                        au départ n°{{ licenseeParticipation.departure }}
                        {% endif %}.
                        N'oublie pas ta licence et de quoi régler l'inscription au greffe !
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <div class="row">
    <div class="col-sm-7">
        <div class="row">
            <div class="col-sm-6">
                <h5>
                    <em class="fa-solid fa-calendar-alt"></em> Dates
                    <a href="{{ path('app_event_ics', {slug: event.slug}) }}"
                       class="btn btn-secondary btn-sm">
                        <em class="fa-solid fa-calendar-plus fa-fw"></em>
                        Ajouter à mon calendrier
                    </a>
                </h5>
                <p>{{ event|event_date(diff=true) }}</p>
            </div>

            <div class="col-sm-6">
                <h5><em class="fa-solid fa-bullseye"></em> Catégorie et Type</h5>
                <dl>
                    <dt>Type</dt>
                    <dd>{{ event.type|readable_enum }}</dd>
                    <dt>Discipline</dt>
                    <dd>{{ event.discipline|readable_enum }}</dd>
                </dl>
            </div>

            <div class="col-sm-12">
                <h5>
                    <em class="fa-solid fa-people-group"></em> Participants
                    {% if licenseeParticipation and licenseeParticipation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::NOT_GOING') %}
                        {% set participationButtonLabel = 'Absent•e' %}
                        {% set participationButtonColor = 'danger' %}
                    {% elseif licenseeParticipation and licenseeParticipation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::INTERESTED') %}
                        {% set participationButtonLabel = 'Intéressé•e' %}
                        {% set participationButtonColor = 'warning' %}
                    {% elseif licenseeParticipation and licenseeParticipation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::REGISTERED') %}
                        {% set participationButtonLabel = 'Inscrit•e' %}
                        {% set participationButtonColor = 'success' %}
                    {% else %}
                        {% set participationButtonLabel = 'Intéressé•e ?' %}
                        {% set participationButtonColor = 'secondary' %}
                    {% endif %}
                    <button type="button"
                            class="btn btn-sm btn-{{ participationButtonColor }} {{ not canAttend ? 'disabled' }}"
                            {% if canAttend %}
                            data-bs-toggle="modal" data-bs-target="#participationModal"
                            {% else %}
                                {% set message = "Tu ne peux pas t'y inscrire ou modifier ta participation." %}
                                {% if event.startsAt < date() %}
                                    {% set message = "Le concours est déjà passé. #{message}" %}
                                {% endif %}
                                data-bs-toggle="tooltip" data-bs-title="{{ message }}" style="pointer-events: auto"
                            {% endif %}
                    >
                        <em class="fa-solid fa-pencil-alt fa-fw"></em> {{ participationButtonLabel }}
                    </button>
                </h5>
                <div>
                    {% if event.participationsByDeparture is not empty %}
                        <ul class="list-unstyled">
                            {% for departure, participations in event.participationsByDeparture %}
                                <li>
                                    <strong>Départ {{ departure }} :</strong>
                                    {% set orderedParticipations = participations|sort((a, b) => a.participant.fullname <=> b.participant.fullname) %}
                                    {% for participation in orderedParticipations %}
                                        {{ participation.participant.firstnameWithInitial }}
                                        {% if participation.participationState is same as(constant("App\\DBAL\\Types\\EventParticipationStateType::INTERESTED")) %}
                                            <sup class="badge rounded-pill text-bg-warning" data-bs-toggle="tooltip" title="{{ participation.participant.firstname }} n'a pas encore reçu la validation de son inscription">
                                                <em class="fa-solid fa-hourglass"></em>
                                            </sup>
                                        {% endif %}
                                        {{ not loop.last ? ',' }}
                                    {% endfor %}
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <em>Aucun</em>
                    {% endif %}
                </div>
            </div>
            <div class="col-sm-12 p-3">
                <h5>
                    <em class="fa-solid fa-map"></em>
                    Adresse
                    <div class="btn-group">
                        <button type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            Ouvrir dans
                        </button>
                        {% if event.latitude and event.longitude %}
                            {% set address_query = event.latitude ~ "," ~ event.longitude %}
                            {% set waze_url = "waze://?ll=" ~ address_query %}
                        {% else %}
                            {% set address_query = event.address|url_encode %}
                            {% set waze_url = "waze://?q=" ~ address_query|url_encode %}
                        {% endif %}
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item"
                                   href="https://maps.apple.com/?q={{ address_query }}">
                                    <em class="fa-brands fa-apple fa-fw"></em>
                                    Apple Plans
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="https://www.google.com/maps/search/?api=1&query={{ address_query }}">
                                    <em class="fa-brands fa-google fa-fw"></em>
                                    Google Maps
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item"
                                   href="{{ waze_url }}">
                                    <em class="fa-brands fa-waze fa-fw"></em>
                                    Waze
                                </a>
                            </li>
                        </ul>
                    </div>
                </h5>
                <address>{{ event.address }}</address>
                {% if event.latitude and event.longitude %}
                <div>latitude : {{ event.latitude }} ; longitude : {{ event.longitude }}</div>
                {% endif %}
            </div>
        </div>
    </div>
    {% set showMandate = false %}
    {% set showResults = false %}
    {% if event.startsAt > date() %}
        {% set showMandate = true %}
    {% endif %}
    {% if event.endsAt < date() %}
        {% set showResults = true %}
    {% endif %}
    <div class="col-sm-5">
        <div class="accordion" id="mandateAndResults">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMandate">
                    <button class="accordion-button {% if not showMandate %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseMandate" {% if showMandate %}aria-expanded="true"{% endif %}
                            aria-controls="collapseMandate">
                        <em class="fa-regular fa-file me-1"></em> Mandat
                    </button>
                </h2>
                <div id="collapseMandate" class="accordion-collapse collapse {% if showMandate %}show{% endif %}"
                     aria-labelledby="headingMandate"
                     data-bs-parent="#mandateAndResults">
                    {% if event.attachments('mandate') is not empty %}
                    <div class="p-2 alert alert-secondary rounded-0">
                        <a href="{{ path('events_attachements_download', {attachment: (event.attachments('mandate')|first).id}) }}" class="btn btn-secondary" target="_blank">
                            <em class="fa-solid fa-download"></em>
                            Télécharger
                        </a>
                    </div>
                    {% endif %}
                    <div class="accordion-body">
                        {% if event.attachments('mandate') is not empty %}
                            <canvas data-pdf-url="{{ path('events_attachements_download', {'attachment': (event.attachments('mandate')|first).id }) }}"
                            ></canvas>
                        {% else %}
                            <span class="fst-italic">Mandat non disponible.</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingResults">
                    <button class="accordion-button {% if not showResults %}collapsed{% endif %}" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#collapseResults" {% if showResults %}aria-expanded="true"{% endif %}
                            aria-controls="collapseResults">
                        <em class="fa-solid fa-square-poll-vertical me-1"></em>
                        Résultats
                    </button>
                </h2>
                <div id="collapseResults" class="accordion-collapse collapse {% if showResults %}show{% endif %}"
                     aria-labelledby="headingResults"
                     data-bs-parent="#mandateAndResults">
                    <div class="accordion-body">
                        {% if event.results is not empty %}
                            <table class="table table-hover table-striped mb-0">
                                <thead>
                                <tr>
                                    <th>Licencié</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for result in event.results|sort((a, b) => a.licensee.firstname <=> b.licensee.firstname) %}
                                    <tr>
                                        <td>{{ result.licensee.firstnameWithInitial }}</td>
                                        <td>{{ result.total }}</td>
                                        <td data-bs-toggle="tooltip"
                                            style="width: 2em"
                                            title="{{ result.distance }}m {{ result.targetType|readable_enum }} {{ result.targetSize }}cm">
                                            <em class="fa-solid fa-info-circle"></em>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                <caption>Résultats pour {{ event.title }}</caption>
                            </table>
                        {% else %}
                            <em>Résultats pas encore disponibles.</em>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" id="participationModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                {{ form_start(event_participation_form) }}
                <div class="modal-header">
                    <h5 class="modal-title">Ma participation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Ma participation au {{ event.title[:1]|lower ~ event.title[1:] }}</p>
                    <div class="mb-3 row text-center mt-3">
                        <div class="col-12">
                            {{ form_widget(event_participation_form.participationState) }}
                        </div>
                    </div>
                    {{ form_row(event_participation_form.departure) }}
                    <div class="alert alert-warning">
                        Attention ! C'est à vous de vous inscrire personnellement au concours selon les modalités inscrites
                        dans le mandat. Cet outil est seulement là pour se tenir au courant entre archers du club !
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                    <button type="submit" class="btn btn-primary">Enregistrer</button>
                </div>
                {{ form_end(event_participation_form) }}
            </div>
        </div>
    </div>
{% endblock %}