{% extends 'public.html.twig' %}

{% block title %}Pré-inscription{% endblock %}

{% block body %}
    <div class="row my-3">
        <div class="col-12">
            <img src="{{ asset('build/logo-archers-de-guyenne.svg') }}" alt="" class="float-start me-3" style="height: 100px" />
            <h1>Les Archers de Bordeaux Guyenne</h1>
            <h2>Inscription Tir à l'Arc - Séance d'essai</h2>
        </div>
    </div>

    {% if error %}
        <div class="row">
            <div class="col-12">
                <div class="alert alert-danger">
                    Il semble que tu sois déjà licencié aux Archers de Guyenne. Ce n'est pas le bon formulaire
                    de pré-inscription. Rendez-vous sur ce formulaire pour renouveler ton adhésion :
                    <a href="{{ path('app_registration_renewal') }}">Pré-inscription Renouvellement</a>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-5">
            {% if waitingListActivated %}
                {{ include('pre_registration/_pre_registration_infos_waiting_list.html.twig') }}
            {% else %}
                {{ include('pre_registration/_pre_registration_infos.html.twig') }}
            {% endif %}

            <div class="alert alert-warning">
                <p class="mb-0">REMPLIR AUTANT DE FORMULAIRE QUE DE PERSONNE A INSCRIRE PAR FOYER.</p>
            </div>
        </div>

        <div class="col-md-7">
            {% form_theme form 'bootstrap_5_layout.html.twig' %}
            {{ form_start(form) }}
            <fieldset>
                <legend>Informations sur le futur pratiquant</legend>
                <div class="row mb-3">
                    <div class="col">
                        {{ form_label(form.lastname) }}
                        {{ form_widget(form.lastname) }}
                    </div>
                    <div class="col">
                        {{ form_label(form.firstname) }}
                        {{ form_widget(form.firstname) }}
                    </div>
                </div>
                {{ form_row(form.birthdate) }}
                {{ form_row(form.practiceLevel) }}
                {{ form_row(form.licenseNumber) }}
            </fieldset>
            <fieldset>
                <legend>Coordonnées de contact</legend>
                {{ form_row(form.email) }}
                {{ form_row(form.phoneNumber) }}
            </fieldset>
            {{ form_row(form.comment) }}
            {% if waitingListActivated %}
                <div class="alert alert-warning">
                    Attention, le club est actuellement complet. En validant votre pré-inscription, vous serez placé sur liste d'attente.
                    Nous reviendrons au plus vite vers vous en cas de désistement.
                </div>
            {% endif %}
            {{ form_rest(form) }}
        </div>
    </div>
{% endblock %}
