{% apply inky_to_html|inline_css(source('@styles/foundation-emails.css')) %}
    <style type="text/css">
        body,
        html,
        .body {
            background: #f3f3f3 !important;
        }

        .container.header {
            background: #f3f3f3;
        }

        a {
            color: {{ club.primaryColor ?? clubHelper.defaultColor }};
        }

        .body-drip {
            border-top: 8px solid {{ club.primaryColor ?? clubHelper.defaultColor }};
        }
    </style>
    <!-- move the above styles into your custom stylesheet -->


    <spacer size="16"></spacer>

    <container class="header">
        <row class="collapse">
            <columns>
                <center>
                    <img src="{{ club and club.logoName ? club|public_url('logo') : absolute_url(asset('/build/logo.svg')) }}" height="160" alt="{{ club.name }}">
                </center>
            </columns>
        </row>
    </container>

    <container class="body-drip">

        <spacer size="24"></spacer>

        {% if block('header') is defined %}
            {{ block('header') }}

            <hr/>

            <spacer size="24"></spacer>
        {% endif %}

        {{ block('content') }}

        <row class="collapsed footer">
            <columns>
                <spacer size="16"></spacer>
                <p class="text-center">{{ club.name }}<br/>
                    <a href="mailto:{{ club.contactEmail }}">{{ club.contactEmail }}</a></p>
                <center>
                    <menu>
                        <item>
                            <a href="https://www.facebook.com/LesArchersdeGuyenne/">
                                <img src="{{ absolute_url(asset('build/facebook-square-brands.png')) }}" alt="Facebook">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.instagram.com/archersdebordeaux/?hl=fr">
                                <img src="{{ absolute_url(asset('build/instagram-square-brands.png')) }}" alt="Instagram">
                            </a>
                        </item>
                        <item>
                            <a href="https://www.archersdebordeaux-guyenne.com/">
                                <img src="{{ absolute_url(asset('build/w-solid.png')) }}" alt="Site Internet">
                            </a>
                        </item>
                    </menu>
                </center>
            </columns>
        </row>

    </container>
{% endapply %}