{% extends 'email_base.html.twig' %}

{% block header %}
    <row>
        <columns>
            <h4 class="text-center">Bonjour {{ advice.licensee.firstname }} !</h4>
            <h6 class="text-center">Ton conseil de pratique a été mis à jour.</h6>
        </columns>
    </row>
{% endblock %}

{% block content %}
    <row>
        <columns>
            <p>{{ advice.author.firstname }} a modifié le conseil de pratique intitulé <strong>{{ advice.title }}</strong></p>

            <p>
                Tu peux le consulter ici :
                {% set link = url('app_practice_advice_show', {'advice': advice.id}) %}
                <a href="{{ link }}" target="_blank">{{ link }}</a>
            </p>
        </columns>
    </row>
{% endblock %}