{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard{% endblock %}

{% block page_actions %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <h3>Licenciés</h3>
            <table class="table">
                <tbody>
                <tr>
                    <th>Hommes</th>
                    <td>
                        {{ licensees.men }}
                        <span class="text-muted">({{ (licensees.men/licensees.total*100)|round }}%)</span>
                    </td>
                </tr>
                <tr>
                    <th>Femmes</th>
                    <td>
                        {{ licensees.women }}
                        <span class="text-muted">({{ (licensees.women/licensees.total*100)|round }}%)</span>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <td>{{ licensees.total }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            {% set licensesTypesTotal = licensesTypes|reduce((carry, v) => carry + v) %}
            <h3>Types de licenses pour 2022</h3>
            <table class="table">
                <tbody>
                {% for licenseType, count in licensesTypes %}
                    <tr>
                        <th>{{ licenseType|readable_enum('LicenseType') }}</th>
                        <td>
                            {{ count }}
                            <span class="text-muted">({{ (count/licensesTypesTotal*100)|round }}%)</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <td>{{ licensesTypesTotal }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-md-4 col-sm-12">
            {% set licenseAgeCategoriesTotal = licenseAgeCategories|reduce((carry, v) => carry + v) %}
            <h3>Catégories d'âge pour 2022</h3>
            <table class="table">
                <tbody>
                {% for ageCategory, count in licenseAgeCategories %}
                    <tr>
                        <th>{{ ageCategory|readable_enum('LicenseAgeCategoryType') }}</th>
                        <td>
                            {{ count }}
                            <span class="text-muted">({{ (count/licenseAgeCategoriesTotal*100)|round }}%)</span>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th>Total</th>
                    <td>{{ licenseAgeCategoriesTotal }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}