{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col">
            <h1>Bonjour {{ licenseeHelper.licenseeFromSession.firstname }} 👋</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 mb-3" data-controller="modal">
            {{ include('_modal.html.twig') }}
            <h2 class="mb-3"><em class="fa-solid fa-calendar-days"></em> Prochains évènements</h2>
            {% if events is empty %}
                <p><em>Aucun évènement prévu</em></p>
            {% else %}
                <ul class="list-group">
                    {% for event in events %}
                        {% set participation = eventHelper.licenseeParticipationToEvent(licenseeHelper.licenseeFromSession, event) %}
                        {% if participation == null %}
                            {% set link_class = '' %}
                            {% set icon = '' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::NOT_GOING') %}
                            {% set link_class = 'text-muted bg-light' %}
                            {% set icon = 'times' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::GOING') %}
                            {% set link_class = 'bg-warning' %}
                            {% set icon = 'hourglass' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::REGISTERED') %}
                            {% set link_class = 'bg-success' %}
                            {% set icon = 'check' %}
                        {% endif %}
                        <a href="{{ path('app_event_showmodal', {'event': event.id}) }}"
                           type="button"
                           class="list-group-item list-group-item-action d-flex flex-row justify-content-between link-unstyled bg-opacity-25 {{ link_class }}"
                           data-action="click->modal#open"
                           data-title="{{ event.type|readable_enum }} - {{ event.name }}"
                        >
                            <div class="d-flex flex-column">
                                <div class="fw-bold">
                                    <div class="event-pill me-1"
                                         style="background-color: {{ event.type|eventColor }}"
                                         data-bs-toggle="tooltip" data-bs-title="{{ event.type|readable_enum }}"
                                    >
                                    </div>
                                    {{ event.type|readable_enum }} : {{ event.name }}
                                    <span class="badge rounded-pill text-bg-info">
                                        <em class="fas fa-people-group"></em>
                                        {{ event.participations|filter(p => p.participationState != 'not_going')|length }}
                                    </span>
                                </div>
                                <div>
                                    <small>
                                        {% if event.endsAt.diff(event.startsAt).days == 1 %}
                                            les {{ event.startsAt|date('j') }} et {{ event.endsAt|format_date(locale='fr') }}
                                        {% elseif event.startsAt|date('d') != event.endsAt|date('d') %}
                                            du {{ event.startsAt|date('j') }} au {{ event.endsAt|format_date(locale='fr') }}
                                        {% else %}
                                            le {{ event.startsAt|format_date(locale='fr') }}
                                            de {{ event.startsAt|format_time('short', locale='fr') }}
                                            à  {{ event.endsAt|format_time('short', locale='fr') }}
                                        {% endif %}
                                        {% set diffDays = event.startsAt.diff(date()).days %}
                                        {% if diffDays == 0 %}
                                            (aujourd'hui)
                                        {% else %}
                                            (dans {{ event.startsAt.diff(date()).days }} jours)
                                        {% endif %}
                                    </small>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                {% if icon %}
                                    <em class="fas fa-2x fa-fw fa-{{ icon }}"></em>
                                {% endif %}
                            </div>
                        </a>
                    {% endfor %}
                    <a href="{{ path('app_events_index') }}"
                       class="list-group-item text-center"
                    >
                        Voir les autres évènements
                    </a>
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-comment"></em> Mes conseils de pratique</h2>
            {% if advices is empty %}
                <p><em>Aucun conseil pour le moment</em></p>
            {% else %}
                <ul class="list-group">
                    {% for advice in advices %}
                        <li class="list-group-item">
                            <strong>{{ advice.title }}</strong><br/>
                            <em>par {{ advice.author.firstname }}</em>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-bullseye"></em> Mes résultats</h2>
            <p><em>Aucun résultat enregistré</em></p>
        </div>
    </div>
{% endblock %}
