{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col">
            <h1>Bonjour {{ licenseeHelper.licenseeFromSession.firstname }} 👋</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 mb-3" data-controller="modal">
            {{ include('_modal.html.twig') }}
            <h2 class="mb-3"><em class="fa-solid fa-calendar-days"></em> Prochains évènements</h2>
            {% if events is empty %}
                <p><em>Aucun évènement prévu</em></p>
            {% else %}
                <ul class="list-group">
                    {% for event in events %}
                        <a href="{{ path('app_event_showmodal', {'event': event.id}) }}"
                           type="button"
                           class="list-group-item list-group-item-action d-flex justify-content-between link-unstyled"
                           data-action="click->modal#open"
                           data-title="{{ event.type|readable_enum }} - {{ event.name }}"
                        >
                            <div>
                                <div class="fw-bold">
                                    <div class="event-pill me-1"
                                         style="background-color: {{ event.type|eventColor }}"
                                         data-bs-toggle="tooltip" data-bs-title="{{ event.type|readable_enum }}"
                                    >
                                    </div>
                                    {{ event.name }}
                                    {% if event.attachments|length > 0 %}
                                        <em class="fa-solid fa-paperclip"></em>
                                    {% endif %}
                                </div>
                                <small>
                                    le {{ event.startsAt|format_date(locale='fr') }}
                                    (dans {{ event.startsAt.diff(date()).days }} jours)
                                </small>
                            </div>
                            <!--<div>
                                <div class="btn-group btn-group-sm float-end" role="group">
                                    <button type="button" class="btn btn-outline-danger"
                                            data-bs-toggle="tooltip" data-bs-title="Je n'y vais pas"
                                            disabled
                                    >
                                        <em class="fa-solid fa-times fa-fw"></em>
                                    </button>
                                    <button type="button" class="btn btn-outline-success"
                                            data-bs-toggle="tooltip" data-bs-title="J'y vais"
                                            disabled
                                    >
                                        <em class="fa-solid fa-check fa-fw"></em>
                                    </button>
                                </div>
                            </div>-->
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-comment"></em> Mes conseils de pratique</h2>
            {% if advices is empty %}
                <p><em>Aucun conseil pour le moment</em></p>
            {% else %}
                <ul class="list-group">
                    {% for advice in advices %}
                        <li class="list-group-item">
                            <strong>{{ advice.title }}</strong><br/>
                            <em>par {{ advice.author.firstname }}</em>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-4 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-bullseye"></em> Mes résultats</h2>
            <p><em>Aucun résultat enregistré</em></p>
        </div>
    </div>
{% endblock %}
