{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <div class="row mb-3">
        <div class="col">
            <h1>Bonjour {{ licenseeHelper.licenseeFromSession.firstname }} 👋</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12 mb-3" data-controller="modal">
            {{ include('_modal.html.twig') }}
            <h2 class="mb-3"><em class="fa-solid fa-calendar-days"></em> Prochains évènements</h2>
            {% if events is empty %}
                <p><em>Aucun évènement prévu</em></p>
            {% else %}
                <ul class="list-group">
                    {% for event in events %}
                        {% set participation = eventHelper.licenseeParticipationToEvent(licenseeHelper.licenseeFromSession, event) %}
                        {% if participation.participationState is same as null %}
                            {% set link_class = '' %}
                            {% set icon = '' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::NOT_GOING') %}
                            {% set link_class = 'bg-danger' %}
                            {% set icon = 'calendar-xmark' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::INTERESTED') %}
                            {% set link_class = 'bg-warning' %}
                            {% set icon = 'hourglass' %}
                        {% elseif participation.participationState == constant('App\\DBAL\\Types\\EventParticipationStateType::REGISTERED') %}
                            {% set link_class = 'bg-success' %}
                            {% set icon = 'calendar-check' %}
                        {% endif %}
                        <a href="{{ path('app_event_show', {slug: event.slug}) }}"
                           class="list-group-item list-group-item-action link-unstyled bg-opacity-10 {{ link_class }}"
                        >
                            <div class="d-flex flex-column">
                                <div class="fw-bold">
                                    {{ event.title }}
                                    <span class="badge rounded-pill text-bg-info">
                                        <em class="fa-solid fa-people-group"></em>
                                        {{ event.participations|filter(p => p.participationState != 'not_going')|length }}
                                    </span>
                                    {% if icon %}
                                        <span class="badge rounded-pill {{ link_class }}">
                                            <em class="fa-solid fa-{{ icon }}"></em>
                                        </span>
                                    {% endif %}
                                </div>
                                <div>
                                    <small>
                                        {{ event|event_date(diff=true) }}
                                    </small>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                    <a href="{{ path('app_events_index') }}"
                       class="list-group-item text-center"
                    >
                        Voir les autres évènements
                    </a>
                </ul>
            {% endif %}
        </div>
        <div class="col-md-5 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-bullseye"></em> Mes 5 derniers résultats</h2>
            {% if results is empty %}
                <p><em>Aucun résultat enregistré</em></p>
            {% else %}
                <table class="table">
                    {% for result in results %}
                        <tr>
                            <td>
                                <a href="{{ path('app_event_show', {slug: result.event.slug}) }}" class="link-unstyled">
                                    <span class="fw-bold">{{ result.event.title }}</span>
                                    <em class="fa-solid fa-circle-right text-muted"></em>
                                </a><br>
                                <span class="fst-italic">
                                    <small>{{ result.event|event_date(includeTime=false) }}</small>
                                </span>
                                <span class="badge bg-secondary badge-pill">{{ result.distance }}m</span>
                                <span class="badge bg-secondary badge-pill">{{ result.targetType|readable_enum }}</span>
                                <span class="badge bg-secondary badge-pill">{{ result.targetSize }}cm</span>
                            </td>
                            <td>{{ result.total }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
        <div class="col-md-3 col-xs-12">
            <h2 class="mb-3"><em class="fa-solid fa-comment"></em> Mes conseils de pratique</h2>
            {% if advices is empty %}
                <p><em>Aucun conseil pour le moment</em></p>
            {% else %}
                <ul class="list-group">
                    {% for advice in advices %}
                        <a href="{{ path('app_practice_advice_show', {'advice': advice.id}) }}" class="list-group-item">
                            <strong>{{ advice.title }}</strong><br/>
                            <em>par {{ advice.author.firstname }}</em>
                        </a>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
