{% extends 'base_unauthenticated.html.twig' %}

{% block title %}Identification{% endblock %}

{% block page_layout %}
<div class="container">
    <div class="row justify-content-center align-content-center" style="min-height: 88vh">
        <div class="col-lg-4 col-sm-10">
            <img src="{{ asset('build/logo.svg') }}"
                 alt="Les Archers de Bordeaux Guyenne"
                 class="mx-auto d-block"/>
        </div>
        <div class="col-lg-6 col-sm-10">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-3">Connexion</h5>
            <form action="{{ path('app_login') }}" method="post">
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}"/>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password" name="_password"/>
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <button type="submit" class="btn btn-primary">
                    <em class="fa-solid fa-arrow-right-to-bracket"></em>
                    Se connecter
                </button>
            </form>
            
            <hr class="my-4">
            
            <div class="text-center">
                <h6 class="mb-3">Nouveau membre ?</h6>
                <div class="alert alert-info mb-3" role="alert">
                    <small>
                        <em class="fa-solid fa-circle-info me-1"></em>
                        Pour adhérer à un club, créez d'abord votre compte. Vous pourrez ensuite déposer une demande d'adhésion.
                    </small>
                </div>
                <a href="{{ path('app_register') }}" class="btn btn-outline-primary w-100">
                    <em class="fa-solid fa-user-plus me-2"></em>
                    Créer mon compte
                </a>
            </div>
        </div>
    </div>
    <a href="{{ path('app_forgot_password_request') }}" class="btn btn-link fst-italic mx-auto d-block mt-2">Mot de passe oublié ?</a>
        </div>
    </div>
</div>
{% endblock %}