{% extends 'base.html.twig' %}

{% block title %}{{ licensee.fullname }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-12 mb-3">
            <div class="border border-1 rounded-3">
                <div class="bg-ffta text-light text-center pt-3 rounded-0 rounded-top d-flex flex-column">
                    <div class="mb-1 d-flex justify-content-center">
                        <div class="bg-white rounded-3" style="width: 60px; height:15px"></div>
                    </div>
                    <img src="{{ asset('build/logo-ffta.svg') }}" alt="" class="mb-2" style="height: 40px">
                    <h2 class="mb-3">{{ licensee.fullname }}</h2>
                    <div class="mb-3 d-block position-relative">
                        <img src="{{ path('app_licensee_picture', {'fftaCode': licensee.fftaMemberCode}) }}"
                             alt="Photo de profil" class="img-thumbnail" style="width: 175px; min-height: 275px"/>
                    </div>
                </div>

                <div class="p-3">
                    <h4>Licence 2023</h4>
                    {% set license = licensee.licenseForSeason(2023) %}
                    {% if not licensee.licenseForSeason(2023) %}
                        <em>Aucune license</em>
                    {% else %}
                        <ul class="list-unstyled mb-0">
                            <li>
                                <em class="fa-solid fa-people-group fa-fw"></em>
                                {{ license.ageCategory|readable_enum }}
                            </li>
                            <li>
                                <em class="fa-solid fa-bow-arrow fa-fw"></em>
                                {{ license.activities|map(a => a|readable_enum('LicenseActivityType'))|join(', ') }}
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_COACH') %}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            <h6>Actions d'administration</h6>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_homepage', {'_switch_user': licensee.user.email, '_switch_licensee': licensee.fftaMemberCode}) }}"
                                   class="btn btn-secondary">
                                    <em class="fas fa-user-secret"></em> Usurper l'identité
                                </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-6 col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Équipement</h5>
                            <p class="card-text">Fonctionnalité en cours de développement.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Résultats</h5>
                            <p class="card-text">Fonctionnalité en cours de développement.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
