{% extends 'base.html.twig' %}

{% block return_link %}
    {% if licenseeHelper.licenseeFromSession.id is same as licensee.id %}
        {{ path('app_mobile_othermenu') }}
    {% else %}
        {{ path('app_club_show') }}
    {% endif %}
{% endblock %}

{% block return_text %}
    {% if licenseeHelper.licenseeFromSession.id is same as licensee.id %}
        Autre
    {% else %}
        Mon Club
    {% endif %}
{% endblock %}

{% block title %}{{ licenseeHelper.licenseeFromSession.id is same as licensee.id ? licensee.fullname : licensee_display_name(licensee) }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3 col-12 mb-3">
            <div class="border border-1 rounded-3">
                <div class="bg-ffta text-light text-center pt-3 rounded-0 rounded-top d-flex flex-column">
                    <div class="mb-1 d-flex justify-content-center">
                        <div class="bg-white rounded-3" style="width: 60px; height:15px"></div>
                    </div>
                    <img src="{{ asset('build/logo-ffta.svg') }}" alt="" class="mb-2" style="height: 40px">
                    <h2>{{ licenseeHelper.licenseeFromSession.id is same as licensee.id ? licensee.fullname : licensee_display_name(licensee) }}</h2>
                    <div class="mb-3">
                        <span class="badge bg-light text-bg-light fs-5">{{ licensee.fftaMemberCode }}</span>
                    </div>
                    <div class="mb-3 d-block position-relative">
                        <img src="{{ licensee.profilePicture ? licensee.profilePicture|temporary_url : asset('build/profilePictureVertical.svg') }}"
                             alt="Photo de profil" class="img-thumbnail badge-profile-picture" />
                    </div>
                </div>

                <div class="px-3 pt-3">
                    <h4>
                        Licence 2025
                        <a href="https://monespace.ffta.fr/licences" class="btn btn-sm btn-secondary" target="_blank">
                            <em class="fa-solid fa-share"></em>
                            FFTA
                        </a>
                    </h4>
                    {% set license = licensee.licenseForSeason(2025) %}
                    {% if not licensee.licenseForSeason(2025) %}
                        <em>Aucune license</em>
                    {% else %}
                        <ul class="list-unstyled mb-0">
                            <li>
                                <em class="fa-solid fa-building fa-fw"></em>
                                {{ license.club.name }}
                            </li>
                            <li>
                                <em class="fa-solid fa-people-group fa-fw"></em>
                                {{ license.ageCategory|readable_enum }}
                            </li>
                            <li>
                                <em class="fa-solid fa-venus-mars fa-fw"></em>
                                {{ licensee.gender|readable_enum('GenderType') }}
                            </li>
                            <li>
                                <em class="fa-solid fa-screwdriver-wrench fa-fw"></em>
                                {{ license.activities|map(a => a|readable_enum('LicenseActivityType'))|join(', ') }}
                            </li>
                        </ul>
                    {% endif %}
                </div>
                <div class="p-3">
                    {% for group in licensee.groups %}
                        <span class="badge bg-secondary">{{ group.name }}</span>
                    {% else %}
                        <em>Dans aucun groupe</em>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% if is_granted('ROLE_ADMIN') %}
                <div class="row">
                    <div class="col-12">
                        <div class="alert alert-warning">
                            <h4 class="alert-heading">Administration</h4>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{
                                adminUrlGenerator
                                    .setController('App\\Controller\\Admin\\LicenseeCrudController')
                                    .setAction('edit')
                                    .setEntityId(licensee.id)
                                .generateUrl
                                }}" class="btn btn-secondary mb-1">
                                    <em class="fa-solid fa-pencil"></em>
                                    Éditer
                                </a>
                                <a href="{{
                                adminUrlGenerator
                                    .setController('App\\Controller\\Admin\\ResultCrudController')
                                    .setAction('index')
                                    .set('filters[licensee][comparison]', '=')
                                    .set('filters[licensee][value]', licensee.id)
                                .generateUrl
                                }}" class="btn btn-secondary mb-1">
                                    <em class="fa-solid fa-square-poll-vertical"></em>
                                    Résultats
                                </a>
                                <a href="{{ path('app_homepage', {'_switch_user': licensee.user.email, '_switch_licensee': licensee.fftaMemberCode}) }}"
                                   class="btn btn-warning mb-1">
                                    <em class="fa-solid fa-user-secret"></em> Usurper l'identité
                                </a>
                                {{ form_start(licensee_sync_form, {'attr': {'class': 'd-inline', 'onclick': 'return confirm("Synchroniser avec la FFTA ? Cela prendra une dizaine de secondes.")'}}) }}
                                    <button type="submit" class="btn btn-warning mb-1" data-bs-toggle="tooltip" title="Synchroniser avec la FFTA. En cas de changements (photo, licence, ...) sur le site de la FFTA, cette action permet de les récupérer dans l'application.">
                                        <em class="fa-solid fa-arrows-rotate"></em> Synchroniser
                                    </button>
                                {{ form_end(licensee_sync_form) }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-4 col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Équipement</h5>
                            <p class="card-text">Fonctionnalité en cours de développement.</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-8 col-12 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-row mb-3">
                                <h5 class="card-title me-3 mt-2">Résultats</h5>
                                {% if results_charts|length > 0 %}
                                <select class="form-select form-select-sm w-auto" id="results-season-selector">
                                    {% for season_label, season in seasons %}
                                        <option value="{{ season }}" {{ loop.first ? "selected" }}>{{ season_label }}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}
                            </div>
                            {% for season, charts_by_category in results_charts %}
                                <div class="season-pane d-none results-season-pane" data-season="{{ season }}">
                                    <ul class="nav nav-tabs" id="resultsTab" role="tablist">
                                        {% for category, chart in charts_by_category %}
                                            <li class="nav-item">
                                                <button class="nav-link {{ loop.first ? "active" }}" data-bs-toggle="tab" data-bs-target="#{{ category|slug|lower }}-tab-pane" >{{ category }}</button>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <div class="tab-content" id="result-charts-tab-content">
                                        {% for category, chart in charts_by_category %}
                                            <div class="tab-pane fade {{ loop.first ? "show active" }}" id="{{ category|slug|lower }}-tab-pane" role="tabpanel" aria-labelledby="{{ category }}-tab" tabindex="0">
                                                {{ render_chart(chart, {'data-controller': 'results-chart'}) }}
                                                {#<table class="table mt-3 text-center align-middle">
                                                    <tr>
                                                        {% set color_lowest = '#FCE4D6' %}
                                                        {% set color_best = '#C6E0B4' %}
                                                        {% set score_diff = score_best - score_lowest %}
                                                        {% for result in results_by_season[season][category].results %}
                                                            {% set ratio = (result.total - score_lowest) / score_diff %}
                                                            <td style="background-color: {{ color_ratio(ratio) }}">
                                                                <small>
                                                                    {{ result.score1 }}
                                                                    {% if result.score1 and result.score2 %}/{% endif %}
                                                                    {{ result.score2 }}
                                                                </small>
                                                                {% if result.score1 and result.score2 %}<br>{% endif %}
                                                                {{ result.total }}
                                                            </td>
                                                        {% endfor %}
                                                    </tr>
                                                </table>#}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% else %}
                                <div>Aucun résultat enregistré</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('licensees_show') }}
{% endblock %}