<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        <style>
            .text-bg-primary, .bg-primary {
                background-color: {{ clubHelper.activeClub.primaryColor ?? '#999999' }} !important;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <title>{{ block('title') }}{{ block('title') is defined ? ' • ' }}Mon Club</title>
</head>
<body data-env-api-url="{{ apiUrl }}" {{ stimulus_controller('modal') }}>
<div class="mobile-tab-bar navbar navbar-expand navbar-dark bg-primary">
    <ul class="navbar-nav w-100">
        <li class="nav-item">
            <a href="{{ path('app_homepage') }}" class="nav-link {{ _self.isActive('app_homepage') }}">
                <div class="icon">
                    <em class="fa-solid fa-gauge-high"></em>
                </div>
                Accueil
            </a>
        </li>
        {% if licenseHelper.currentLicenseeCurrentLicense %}
        <li class="nav-item">
            <a href="{{ path('app_licensee_index') }}" class="nav-link {{ _self.isActive('app_licensee_') }}">
                <div class="icon">
                    <em class="fa-solid fa-users"></em>
                </div>
                Trombinoscope
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_event_index') }}" class="nav-link {{ _self.isActive('app_event_') }}">
                <div class="icon">
                    <em class="fa-solid fa-calendar"></em>
                </div>
                Calendrier
            </a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a href="{{ path('app_mobile_othermenu') }}" class="nav-link {{ _self.isActive('app_mobile_othermenu') }}">
                <div class="icon">
                    <em class="fa-solid fa-ellipsis"></em>
                </div>
                {{ licenseeHelper.licenseeFromSession.firstname ?? app.user.firstname }}
            </a>
        </li>
    </ul>
</div>
<nav class="top-navbar navbar navbar-expand-lg navbar-dark bg-primary mb-3">
    <div class="container">
        <img src="{{ clubHelper.activeClub and clubHelper.activeClub.logoName ? clubHelper.activeClub|public_url('logo') : asset('/build/logo-horizontal.svg') }}" height="40" class="me-2 d-none d-md-inline" alt="">
        <h1 class="navbar-brand mb-0 h1 d-none d-md-inline">
            {{ clubHelper.activeClub.name ?? 'Mon Club de Tir à l\'Arc' }}
        </h1>
        {% if block('return_link') is defined %}
        <div class="d-inline d-md-none text-white mt-2 h6">
            <a href="{{- block('return_link') -}}" class="text-bg-primary text-decoration-none">
                <em class="fa-solid fa-arrow-left me-1"></em>
                {{- block('return_text') -}}
            </a>
        </div>
        {% else %}
            <img src="{{ clubHelper.activeClub and clubHelper.activeClub.logoName ? clubHelper.activeClub|public_url('logo') : asset('/build/logo.svg') }}" height="40" class="me-2 d-md-none" alt="">
        {% endif %}
        <h1 class="text-bg-primary mx-auto h5 mt-1 overflow-auto d-md-none">{{ block('title') }}</h1>
        <button class="navbar-toggler ms-auto d-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if licenseHelper.currentLicenseeCurrentLicense %}
                <li class="nav-item">
                    <a class="nav-link {{ _self.isActive('app_homepage') }}" href="{{ path('app_homepage') }}">
                        <em class="fa-solid fa-gauge-high"></em>
                        Tableau de bord
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _self.isActive('app_licensee_') }}"
                       href="{{ path('app_licensee_index') }}">
                        <em class="fa-solid fa-users"></em>
                        Trombinoscope
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ _self.isActive('app_event_') }}" href="{{ path('app_event_index') }}">
                        <em class="fa-solid fa-calendar"></em>
                        Calendrier
                    </a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ _self.isActive('app_license_application') }}" href="{{ path('app_license_application') }}">
                            <em class="fa-solid fa-id-badge"></em>
                            Demande de licence
                        </a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link d-flex flex-row align-items-center {{ _self.isActive('app_licensee_my_profile') }} {{ _self.isActive('app_user_account') }} dropdown-toggle text-end p-0"
                       href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="rounded-circle me-3" style="height:40px;width:40px;object-fit: cover" src="{{ licenseeHelper.licenseeFromSession and licenseeHelper.licenseeFromSession.profilePicture ? licenseeHelper.licenseeFromSession.profilePicture|temporary_url : asset('build/profilePictureVertical.svg') }}" alt="">
                        <div class="d-inline-flex flex-column me-1" style="line-height: 1.1rem">
                            {{ licenseeHelper.licenseeFromSession.fullname ?? app.user.fullname }}
                            <small><em>Saison {{ seasonHelper.selectedSeason }}</em></small>
                        </div>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        {% if (is_granted("ROLE_ADMIN")) %}
                            <li>
                                <a class="dropdown-item" href="{{ path('admin') }}">
                                    <em class="fa-solid fa-screwdriver-wrench fa-fw"></em>
                                    Administration
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                        {% endif %}
                        {% if licenseHelper.currentLicenseeCurrentLicense %}
                            <li>
                                <a class="dropdown-item {{ _self.isActive('app_licensee_my_profile') }}"
                                   href="{{ path('app_licensee_my_profile') }}">
                                    <em class="fa-solid fa-address-card fa-fw"></em>
                                    Mon profil
                                </a>
                            </li>
                        {% endif %}
                        {% if app.user.licensees|length > 1 %}
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            {% for licensee in app.user.licensees|filter(l => l.id is not same as(licenseeHelper.licenseeFromSession.id)) %}
                                <li>
                                    <a class="dropdown-item"
                                       href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_switch_licensee': licensee.fftaMemberCode })) }}">
                                        <em class="fa-solid fa-arrows-rotate fa-fw"></em>
                                        {{ licensee.fullname }}
                                    </a>
                                </li>
                            {% endfor %}
                        {% endif %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item {{ _self.isActive('app_user_account') }}"
                               href="{{ path('app_user_account') }}">
                                <em class="fa-solid fa-user-gear fa-fw"></em>
                                Mon compte
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">
                                <em class="fa-solid fa-arrow-right-from-bracket fa-fw"></em>
                                Se déconnecter
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% if is_granted('IS_IMPERSONATOR') %}
        <div class="row">
            <div class="col">
                <div class="alert alert-warning text-center mb-3">
                    Navigation en tant que {{ app.user.email }} -
                    <a href="{{ impersonation_exit_path(path('app_homepage') ) }}">Arrêter</a>
                </div>
            </div>
        </div>
    {% endif %}
    {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} flash-{{ label }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}{% endblock %}
</div>

{% include '_footer.html.twig' %}
{% include '_modal.html.twig' %}
</body>
</html>

{% macro isActive(path) %}
    {% if app.request.attributes.get('_route') starts with path %}active{% endif %}
{% endmacro %}