{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock title %}

{% block body %}
    <h2 class="mb-3">Mon compte</h2>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Identifiant</dt>
                <dd>{{ user.email }}</dd>

                <dt>Mot de passe <a href="" class="fw-normal">Changer de mot de passe</a></dt>
                <dd>••••••••••••</dd>

                <dt>Prénom</dt>
                <dd>{{ user.firstname }}</dd>

                <dt>Nom</dt>
                <dd>{{ user.lastname }}</dd>

                <dt>Numéro de téléphone</dt>
                <dd>{{ user.phoneNumber }}</dd>
            </dl>
        </div>

        <div class="col-md-6">
            <p>Ce compte gère {{ user.licensees|length }} licencié{{ user.licensees|length > 1 ? 's' }}:</p>
            <ul>
                {% for licensee in user.licensees %}
                    <li>
                        <a href="{{ path('app_licensee_profile', {'fftaCode': licensee.fftaMemberCode}) }}">
                            {{ licensee.fullname }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Une erreur ? Un changement ? Contacter le club à <a href="mailto:lesarchersdeguyenne@gmail.com">lesarchersdeguyenne@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock body %}