{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock title %}

{% block body %}
    <h2 class="mb-3">Mon compte</h2>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Identifiant</dt>
                <dd>{{ user.email }}</dd>

                <dt>Mot de passe <a href="{{ path('app_forgot_password_request') }}" class="fw-normal">Changer de mot de
                        passe</a></dt>
                <dd>••••••••••••</dd>

                <dt>Prénom</dt>
                <dd>{{ user.firstname }}</dd>

                <dt>Nom</dt>
                <dd>{{ user.lastname }}</dd>

                <dt>Numéro de téléphone</dt>
                <dd>{{ user.phoneNumber }}</dd>

                <dt>Discord</dt>
                <dd>
                    {% if user.discordId %}
                        <a href="{{ path('connect_discord_logout') }}"
                           class="btn btn-danger"
                        >
                            <em class="fa-brand fa-discord fa-fw"></em>
                            Se déconnecter de Discord
                        </a>
                    {% else %}
                        <a href="{{ path('connect_discord_start') }}"
                           class="btn btn-discord"
                        >
                            <em class="fa-brand fa-discord fa-fw"></em>
                            Se connecter avec Discord
                        </a>
                    {% endif %}
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <p>Ce compte gère {{ user.licensees|length }} licencié{{ user.licensees|length > 1 ? 's' }}:</p>
            <ul>
                {% for licensee in user.licensees %}
                    <li>
                        <a href="{{ path('app_licensee_profile', {'fftaCode': licensee.fftaMemberCode}) }}">
                            {{ licensee.fullname }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Une erreur ? Un changement ? Contacter le club à <a href="mailto:secretaire.bordeauxguyenne@gmail.com">secretaire.bordeauxguyenne@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock body %}