{% extends 'base.html.twig' %}

{% block return_link %}
    {{ path('app_mobile_othermenu') }}
{% endblock %}

{% block return_text %}
    Autre
{% endblock %}

{% block title %}Mon compte{% endblock title %}

{% block body %}
    <h2 class="mb-3">Mon compte</h2>

    <div class="row">
        <div class="col-md-6">
            <dl>
                <dt>Identifiant</dt>
                <dd>{{ user.email }}</dd>

                <dt>Mot de passe <a href="{{ path('app_forgot_password_request') }}" class="fw-normal">Changer de mot de
                        passe</a></dt>
                <dd>••••••••••••</dd>

                <dt>Prénom</dt>
                <dd>{{ user.firstname }}</dd>

                <dt>Nom</dt>
                <dd>{{ user.lastname }}</dd>

                <dt>Numéro de téléphone</dt>
                <dd>{% if user.phoneNumber %}{{ user.phoneNumber }}{% else %}<em>Non défini</em>{% endif %}</dd>

                <dt>Discord</dt>
                <dd>
                    {% if user.discordId %}
                        <a href="{{ path('connect_discord_logout') }}"
                           class="btn btn-danger"
                        >
                            <em class="fa-brands fa-discord fa-fw"></em>
                            Se déconnecter de Discord
                        </a>
                    {% else %}
                        <a href="{{ path('connect_discord_start') }}"
                           class="btn btn-discord"
                        >
                            <em class="fa-brands fa-discord fa-fw"></em>
                            Se connecter avec Discord
                        </a>
                    {% endif %}
                </dd>
            </dl>
        </div>

        <div class="col-md-6">
            <p>Ce compte gère {{ user.licensees|length }} licencié{{ user.licensees|length > 1 ? 's' }}:</p>
            <div class="list-group">
                {% for licensee in user.licensees %}
                <a href="{{ path('app_licensee_profile', {'fftaCode': licensee.fftaMemberCode}) }}" class="list-group-item list-group-item-action">
                    <div class="d-flex justify-content-between">
                        <img class="rounded-circle me-3" style="height:60px;width:60px;object-fit: cover" src="{{ licenseeHelper.licenseeFromSession and licenseeHelper.licenseeFromSession.profilePicture ? licensee.profilePicture|temporary_url : asset('build/profilePictureVertical.svg') }}">
                        <div class="d-flex flex-column flex-grow-1">
                            <h5 class="mb-1">{{ licensee_display_name(licensee) }}</h5>
                            <small>
                                {{ licensee.licenseForSeason(seasonHelper.selectedSeason).club.name ?? "Aucune license en seasonHelper.selectedSeason" }}
                            </small>

                        </div>
                        <button class="btn btn-secondary {{ licensee == licenseeHelper.licenseeFromSession ? "disabled" }}">
                            {% if licensee == licenseeHelper.licenseeFromSession %}
                                Sélectionné
                            {% endif %}
                        </button>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <p>
                Une erreur ? Un changement ?
                {% if licenseHelper.currentLicenseeCurrentLicense %}
                    Contacter le club à
                    <a href="mailto:{{ licenseHelper.currentLicenseeCurrentLicense.club.contactEmail }}">
                        {{ licenseHelper.currentLicenseeCurrentLicense.club.contactEmail }}
                    </a>
                {% else %}
                    Tu n'as actuellement aucune licence dans un club FFTA. Contacte le support à
                    <a href="mailto:arnaud@flyingpingu.com">arnaud@flyingpingu.com</a>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock body %}