{% extends 'base.html.twig' %}

{% block title %}{{ user.fullname }}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-7 col-xs-12 mb-md-3">
            <img src="{{ path('app_user_picture', {'id': user.id}) }}" alt="Photo de profil" class="img-thumbnail float-start me-3 ratio ratio-1x1" style="width: 300px" />

            <h2 class="mb-0">{{ user.fullname }}</h2>
            <em>
                {% if user.gender == constant('App\\DBAL\\Types\\GenderType::FEMALE') %}
                    <em class="fa-solid fa-venus"></em>
                {% elseif user.gender == constant('App\\DBAL\\Types\\GenderType::MALE') %}
                    <em class="fa-solid fa-mars"></em>
                {% endif %}
                {{ user.age }} ans
            </em>

            <h4 class="mt-3">Licenses</h4>
            {% if user.licenses is empty %}
                <em>Aucune license</em>
            {% else %}

            {% endif %}
        </div>
        <div class="col-md-5 col-xs-12">
            <h2>Équipement</h2>

            <hr>
            <h3 class="mt-3">
                Arcs
                <a href="" class="btn btn-link">
                    <em class="fa-solid fa-plus"></em>
                </a>
            </h3>
            {% if user.bows is not empty %}
                {% for bow in user.bows %}
                    Flèches {{ arrow.type|readable_enum("ArrowType") }}
                {% endfor %}
            {% else %}
                <em>Aucun arc enregistré</em>
            {% endif %}

            <hr>
            <h3 class="mt-3">
                Flèches
                <a href="" class="btn btn-link">
                    <em class="fa-solid fa-plus"></em>
                </a>
            </h3>
            {% if user.arrows is not empty %}
                {% for arrow in user.arrows %}
                    Flèches {{ arrow.type|readable_enum("ArrowType") }},
                    Spin {{ arrow.spine }},
                    Plumes {{ arrow.fletching|readable_enum("FletchingType") }}
                {% endfor %}
            {% else %}
                <em>Aucune flèche enregistrée</em>
            {% endif %}
        </div>
    </div>
{% endblock %}
